html {
    font-size: 16px;
}

#ext-elena-popup {
    width: 200px;
    height: 400px;
}

@import "../../node_modules/css.gg/icons/css/inbox.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
